@charset "utf-8";

* {
    box-sizing: border-box;
}

input[type="submit"] {
  -webkit-appearance: none;
}

html body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: ghostwhite;
}

header {
  display: flex;
  text-align: center;
  padding: 30px;
  font-size: 30px;
  font-weight: bold;
  color: grey;
  background-color: white;
  box-shadow: 0 1px 1px grey;
}

.title {
  margin: 0 auto;
}

.menu-icon {
  margin: auto 0;
}

.menu {
  display: none;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 30px;
  border-radius: 0 0 0 10px;
  background-color: grey;
}

.menu a {
  display: block;
  text-decoration: none;
  margin-top: 10px;
  font-size: 30px;
  color: white;
}

.menu a:hover {
  color: orange;
}

#menu-open {
  cursor: pointer;
}

#menu-close {
  cursor: pointer;
  display: block;
  margin-left: auto;
}

#chatbox {
  max-width: 800px;
  margin: 50px auto 0 auto;
}

#userInput {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 -1px 1px grey;
}

#textInput {
  width: 90%;
  margin: 15px 5px 15px auto;
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  color: grey;
  background-color: ghostwhite;
  box-shadow: 0 0 1px grey;
}

#buttonInput {
  cursor: pointer;
  margin-right: auto;
  padding: 0;
  font-size: 30px;
  outline: none;
  border: none;
  color: grey;
  background-color: white;
}

.userText {
  float: right;
  margin: 10px 0;
  font-size: 20px;
  color: white;
  line-height: 30px;
}

.userText span {
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 1px grey;
  background-color: orange;
}

.botText {
  float: left;
  margin: 10px 0;
  font-size: 20px;
  color: grey;
  line-height: 30px;
}

.botText span {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 1px grey;
}

.cb {
  clear: both;
}

#point {
  clear: both;
  height: 120px;
}
