@charset "utf-8";

* {
    box-sizing: border-box;
}

input[type="submit"] {
  -webkit-appearance: none;
}

html body {
  background-color: ghostwhite;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 30px;
  font-size: 30px;
  color: grey;
  background-color: white;
  text-align: center;
  box-shadow: 0 1px 1px grey;
}

#chatbox {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

#userInput {
  display: flex;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 -1px 1px grey;
}

#textInput {
  margin: 15px 5px 15px auto;
  padding: 10px;
  width: 90%;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 1px grey;
  color: grey;
  background-color: ghostwhite;
}

#buttonInput {
  margin-right: auto;
  padding: 0;
  font-size: 30px;
  outline: none;
  border: none;
  color: grey;
  background-color: white;
}

.userText {
  margin: 10px 0;
  color: white;
  font-size: 20px;
  float: right;
  line-height: 30px;
}

.userText span {
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 1px grey;
  background-color: deepskyblue;
}

.botText {
  margin: 10px 0;
  color: grey;
  font-size: 20px;
  float: left;
  line-height: 30px;
}

.botText span {
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 1px grey;
  background-color: white;
}

.cb {
  clear: both;
}

#point {
  clear: both;
  height: 120px;
}
